<%- include('./partials/header') %>


    <main>

        
        <h1 class="new">Notícias</h1>
        <div id="listaDeNoticias">

            <div class="container news">
                <a href="https://www.bbc.com/portuguese/geral-53020787">
                    <img src="https://ichef.bbci.co.uk/news/1024/branded_portuguese/17CAA/production/_112905479_954a5357-4faa-4d68-b728-a7ff3533f2f1.jpg" alt="Notícias enem">
                    <div>
                        <h2>
                
                    A estudante que em menos de uma semana resolveu um enigma matemático de meio século - BBC News Brasil
                    
                        </h2>
                        <h4>
                        
                    Após deparar-se com o problema em um seminário, Lisa Piccirillo usou seu tempo livre para decifrar o chamado 'nó de Conway', proposto pelo inglês John Horton Conway.
                    
                        </h4>
                    </a>
                    </div>
            </div>


            <div class="container news">
                <a href="https://www.publico.pt/2020/06/15/ciencia/noticia/tal-terra-atmosfera-marte-tambem-brilha-1920663">
                    <img src="https://imagens.publico.pt/imagens.aspx/1479985?tp=UH&db=IMAGENS&type=JPG&share=1&o=BarraFacebook_Publico.png" alt="Notícias enem">
                    <div>
                        <h2>
                
                            Tal como na Terra, a atmosfera de Marte também brilha - PÚBLICO                    
                        </h2>
                        <h4>
                        
                    
                            A sonda Trace Gas Orbiter, que orbita Marte desde Outubro de 2016, detectou uma luz verde na atmosfera de Marte, semelhante àquela que é possível observar na Terra a partir do Espaço.
                    
                    
                        </h4>
                    </a>
                    </div>
            </div>
            
        </div>
        

        <!-- <p class="pg-new"><a href="#"> < Pagina anterior </a>, <a href="#">Proxima pagina ></a></Pagina></p> -->
        
    </main>
    <%- include('./partials/footer') %>
