<%- include('./partials/header') %>


    <main>

        
        <h1 class="new">Notícias</h1>
        <div id="listaDeNoticias">
            
        </div>
        

        <!-- <p class="pg-new"><a href="#"> < Pagina anterior </a>, <a href="#">Proxima pagina ></a></Pagina></p> -->
        
    </main>
    <%- include('./partials/footer') %>
